* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bg2.jpg');
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: larger;
    color: rgb(252, 250, 250);
}

form {
    display: flex;
    flex-flow: column;
    width: 50%;
    justify-content: center;
}

.tag {
    margin-bottom: 10%;
}

label {
    margin-right: 15%;
}

button {
    width: 25%;
    align-self: center;
    height: 35px;
    margin-right: 20%;
    font-size: 80%;
    cursor: pointer;
}

#result {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 20%;
}

p {
    margin-bottom: 5%;
    font-size: 90%;
    text-align: center;
}

#status {
    text-transform: uppercase;
}

img {
    width: 30%;
    justify-self: flex-end;
    margin-left: 10%;
}